---
layout: base
---

#index
  :markdown 

    Morning! I'm Tobias Crawley, but you can call me Toby. I'm an open
    source developer and, uhm, person. I currently work primarily on
    [Immutant](http://immutant.org/) and
    [TorqueBox](http://torquebox.org) for [Red
    Hat](http://redhat.com). You can see most of what I do on
    [GitHub](https://github.com/tobias/). I sometimes
    [tweet](http://twitter.com/tcrawley), and rarely (read: never)
    [blog](http://blog.tobiascrawley.net).
    
    If you want to get in touch, take the nickname above, append an
    'a' with a circle around it, then append the name of this domain.
