body {
    padding-top: 20px;
    background-color: #fefefe;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
}

#content a {
    color: #193441;
    text-decoration: underline;
}

#content a:hover {
    color: #193441;
}

#content.container {
  margin-top: 20px;
}

h1, h2, h3, h4, h5 {
    color: #646464;
}

.h1, h1 {
    font-size: 24px;
}

.h2, h2 {
    font-size: 22px;
}

h2 span {
  padding: 0 10px;
}

.h3, h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

ul {
  padding-left: 20px;
}

li {
  padding-bottom: 6px;
}

.navbar-default {
    font-weight: bold;
    background-color: #91aa9d;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #fcfff5;
}

.well {
    background-color: #fcfff5;
}

#content .well a {
    text-decoration: none;
}

.well ul {
    margin-bottom: 0px;
}

.page-header {
  margin: 20px 0;
}

.intro {
  clear: both;
  padding: 10px 0 30px;
}

.footer {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    background-color: #3e606f;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #3a3a3a;
    padding: 10px 0 2px;
}

.footer a {
    color: #999999;
    text-decoration: underline;
}

.footer a:hover {
    color: #999999;
    
}

.title {
    font-weight: BOLD;
}

.right {
  display: block;
  float: right;
}

span.project {
  padding-right: 5px;
}